<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% if (articles !== null) { %>
<h1>社会</h1>
<% articles.social.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<h1>政治・経済</h1>
<% articles.economics.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<h1>生活・人生</h1>
<% articles.life.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<h1>スポーツ・芸能・音楽</h1>
<% articles.entertainment.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<h1>科学・学問</h1>
<% articles.knowledge.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<h1>コンピュータ</h1>
<% articles.it.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<h1>ゲーム・アニメ</h1>
<% articles.game.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<h1>おもしろ</h1>
<% articles.fun.forEach(function(article) { %>
<p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
<% }); %>
<% } else { %>
<p>データを読み込めませんでした。</p>
<% } %>
