<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (articles !== null) { %>
      <% articles.forEach(function(article) { %>
      <p><a href=<%=article.url %>> <%= article.title %></a> <%=article.bookmark %></p>
      <% }); %>
    <% } else { %>
      <p>データを読み込めませんでした。</p>
    <% } %>
  </body>
</html>
